{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <a href="addTask/">Add a new task</a>
    
    
    <!--ordering the tasks depends on id-->
    <dl>
        {%for task in tasks%}
        
        {% if task.isAchieved%}
        <li>{{task.id}}--{{task.task}}      <a href="editTask/{{task.id}}/">Edit</a> <a href="achieveTask/{{task.id}}">Mark as not achieved</a></li>
        
        {% else %}
        
        <li>{{task.id}}--{{task.task}}      <a href="editTask/{{task.id}}/">Edit</a> <a href="achieveTask/{{task.id}}">Mark as achieved</a></li>
        {%endif%}
        
        {%endfor%}
    </dl>
</body>
</html>