{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <a href="addTask/">Add a new task</a>
    
    
    <!--ordering the tasks depends on id-->
    <div id="TaskList">
    
    <h2>TASKS: </h2> 
    
    <form action="" method="post">
        <select name="listMethod" id="listMethod">
            <option value="all">All</option>
            <option value="achieved">achieved</option>
            <option value="notAchieved">not achieved</option>
        </select>
    </form>
    
    </div>
    
    <dl>
        {%for task in tasks%}
        
        {% if task.isAchieved%}
        <li>{{task.id}}--{{task.task}}      <a href="editTask/{{task.id}}/">Edit</a> <a href="achieveTask/{{task.id}}">Mark as not achieved</a> <a href="deleteTask/{{task.id}}">delete</a></li>
        
        {% else %}
        
        <li>--{{task.task}}      <a href="editTask/{{task.id}}/">Edit</a> <a href="achieveTask/{{task.id}}">Mark as achieved</a> <a href="deleteTask/{{task.id}}/">delete</a></li>
        {%endif%}
        
        {%endfor%}
    </dl>
</body>
</html>